{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}